*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
}


.titulo-principal {
    color: var(--laranja);
    font-family: var(--fontes-geral);

}

form input[type="text"], input[type="email"], input[type="date"], input[type="password"], select{
    text-indent: 10px;
    font-size: 20px;
    color: var(--azul);
    border-radius: 10px;
    border: 2px solid var(--azul);
    background: var(--branco);
    width: 320px;
    height: 47px;
}

 
form input:focus-visible{
    outline: 2px solid var(--azul);
    outline-offset: -1px;
}
 
form input::placeholder{
    color: var(--cinza-escuro);
    font-family: var(--fontes-geral);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

.texto-foto{        
    color: var(--azul);
}


.alinhamento-foto{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*Checkbox*/

input[type=checkbox]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: inherit;
    color: inherit;
    width: 40px;
    height: 40px;
    border: 0.15em solid var(--azul);
    border-radius: 0.65em;
    display: grid;
    place-content: center;
}


input[type=checkbox]::before{
    content: "";
    width: 1.5em;
    height: 1.5em;
    -webkit-clip-path: polygon(24% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    clip-path: polygon(24% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    background-color: CanvasText;
    background-color: var(--azul);
}

.alinhamento-checkbox{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.titulo{
	margin-left: 17%;
	margin-top: 5%;
	width: 65%;
	display: flex;
}

.titulo-principal{
	width: 100%;
}

.titulo a{
	width: 100%;
	display: flex;
	justify-content: end;
}
	
	
#confirmar{
	color: var(--branco);
	font-size: 1.2em;
	font-weight: 400;
}	