*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
}


form input[type="text"], input[type="email"], input[type="date"], input[type="password"], select{
    text-indent: 10px;
    font-size: 20px;
    color: var(--azul);
    border-radius: 10px;
    border: 2px solid var(--azul);
    background: var(--branco);
    width: 320px;
    height: 47px;
}

form input:focus-visible{
    outline: 2px solid var(--azul);
    outline-offset: -1px;
}
 
form input::placeholder{
    color: var(--cinza-escuro);
    font-family: var(--fontes-geral);
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
}

#formulario-cadastro{

    margin-top: 150px;
}

.formulario-centro{
    align-items: center;
}
