#container{
	margin-top: 2%;
	grid-gap: 20px;
}


/*-----Estabelecimento-----*/

#card-est{
	grid-column: 3/6;
	grid-row: 1/4;
	height: 300px;
	width: 90%;
	gap: 10px;
	border: 1px solid var(--cinza);
	border-radius: 10px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
}



#inf-estabelecimento{
	grid-column: 3/6;
	width: 200px;
}

#aside{
	grid-column: 2/3;
	grid-row: 1/3;

}

#foto{
	height: 180px;
	width: 140px;
	border-radius: 10px;
}

#nota{	 
	 text-align: center;
 }

#nota h3{
	border-bottom: 1px solid var(--azul);
}

#favorita{
	grid-column: 5;
	grid-row: 4/5;
}


/*-----Comentario-----*/

#comentario{
	grid-column: 6/11;
	grid-row: 1/6;
	height: 100%;
	width: 100%;
	border: 1px solid var(--cinza);
	border-radius: 10px;
}



/*-----Avaliacao-----*/

#avaliacao{
	display: flex;
	grid-column: 3/6;
	grid-row: 4	;
	height: 50%;
	width: 100%;
	justify-content: center;
}



.texto-adicionais{
	font-size: 1em;
	font-weight: 450;
	color:var(--azul);
}



.texto-aviso{
	font-size: 1em;
	font-weight: 600;
	color:var(--azul);
}


.topico-avaliacao{
	display: flex;
	align-items: center;
	margin-top: 30px;
	gap: 20px;
	height:55px;
	width: 100%;
	border: 1px solid var(--cinza);
	border-radius: 10px;
}

/*-----Usuario-----*/

.nome-usuario{
	font-size: 1.3em;
	font-weight: 600;
	color:var(--azul);
}

.pronome{
	font-size: 1.1em;
	font-weight: 400;
	color:var(--cinza-escuro);
}



.botao-secundario{
	text-align: center;
}

#h3{
	display: flex;
	justify-content: center;
}

h4{
	margin-left: 30px;
}


a{
	color: var(--preto);
	text-decoration: none;
}

b{
	text-decoration: none;
	color:var(--laranja)
}