*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-style: none;
    box-sizing: border-box;
}

.botao-sem-borda{
    color: var(--preto);
    background-color: var(--branco);
}

.grid-home-esquerda{
    grid-column: 3 / 5;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.grid-home-centro{
    grid-column: 5 / 5;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.grid-home-direita{
    grid-column: 7  / 11; 
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.grid-home-esquerda .grid-home-direita{
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 50px;
}

form input[type="text"], input[type="email"], select{
    text-indent: 10px;
    font-size: 20px;
    color: var(--azul);
    border-radius: 10px;
    border: 2px solid var(--azul);
    background: var(--branco);
    width: 320px;
    height: 47px;
}

.texto-inicial{
    grid-row: 3;
}

/*cabecalho*/

.cabecalho-geral nav:last-child{
	display: flex;
	gap: 80px;
	align-items: center;
}

/*cards*/

.cards-pequenos{
    display: flex;
    flex-direction: row;
    padding-top: 20%;
}

.cards-maiores{
    display: flex;
    flex-direction: row;
}

.card1{
    grid-column: 3 / 8;
    margin-left: 2%;
	width: 150px;
	height: 200px;  
	border-radius: 5%;
	border: 2px solid var(--cinza);
    margin-left: 35px;
    justify-items: center;
    display: grid;
    place-items: center;
    align-items: center;
}

.card-laranja{
    
    display: grid;
    margin-left: 2%;
	width: 320px;
	height: 315px;  
	border-radius: 5%;
	border: 2px solid var(--cinza);
    background-color: var(--laranja);
    margin-left: 65px;
    
    
}

.icone{
    justify-items: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
 
}

.texto-pequeno-tela-inicial{
    font-size: 0.8em;
    font-weight: 800;
    color: var(--laranja);
    font-family: var(--fontes-geral);
    text-align: center;
}

/* comunidade */

.foto-familia{
    grid-column: 5 / 5;
    padding-top: 22%;
}

.texto-comunidade{
    grid-column: 2;
    display: flex;
    margin-right: 300%;
}   

.foto-comunidade{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    align-items: left;
    padding-left: 20%;
}

.aliados-da-comunidade{
    grid-row: 2;
    grid-column: 3 / 7;
    color: var(--branco);
    font-size: 1.56em;
    font-weight: 300;
    justify-content: left;
    text-align: left;
    padding-top: 4%;
}

.texto-aliados-da-comunidade{
    grid-row: 3 / 5;
    grid-column: 1 / 7;
    color: var(--branco);
    font-size: 1em;
    font-weight: 300;
    justify-content: left;
    text-align: left;
    padding: 2%;
    padding-top: 5%;
}

.texto-ir-para-pagina-da-comunidade{
    grid-row: 6 / 7;
    grid-column: 1 / 5;
    color: var(--branco);
    font-size: 1em;
    font-weight: 300;
}

.icone-ir-pagina{
    grid-row: 6;
    grid-column: 1 / 5;
    padding-left: 7%;
}